  <div class="card bg-light mb-4 py-4 px-3 border-info hover-1">
    <div class="card-title bg-light text-dark border-bottom border-dark pb-2 px-3">
      <div class="d-flex">
        <p class="h4">Event Title:-  <%= locals[:title]%></p>
      </div>
    </div>
    <div class="card-body bg-light text-dark px-0">
      <p class="h4"><%=locals[:desc]%></p>
    </div>
    <div class="card-footer bg-theme text-white px-0">
      <p class="h4">Event Date:-  <%= locals[:date]%></p>
    </div>
    <div>
      <%= link_to "Attend", invites_path(:controller => "invites", :action => "create", :event_id=> locals[:event_id]), method: :post, class: 'btn disabled' %>
    </div>
  </div>
  
        
      