<div class="d-flex flex-column">
  <div class="border-bottom pb-3 text-center mb-3">
    <h2>Showing <%=pluralize(@events.count, 'Event')%></h2>
  </div>
  <div>
    <%@events.each do |event|%>
      <%= link_to event_path(event), class:'text-decoration-none' do%>
        <%= render 'event', locals: {title: event.title, desc: event.description, date: (date_format event), event_id: event.id}%>
      <%end%>
    <%end%>
  </div>
</div>