<div class="card bg-light mx-2 hover-1">
  <div class="card-title bg-theme text-white">
    <div class="d-flex">
      <p class="h4">Event Title:-  <%=@event.title%></p>
    </div>
  </div>
  <div class="card-body bg-light text-dark">
    <p class="h4"><%=@event.description%></p>
  </div>
  <div class="card-footer bg-theme text-white px-0">
    <p class="h4">Event Date:-  <%@event.date%></p>
  </div>
</div>
